@import url('https://fonts.googleapis.com/css?family=VT323');

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}

.blurStuff {
  transition: filter 0.4s ease;
  transform: scale(1.05);
}

.blurStuff.blur {
  filter: blur(3px);
}
